# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ –Ω–∞–¥–µ–∂–Ω–æ—Å—Ç–∏ –∑–∞–µ–º—â–∏–∫–æ–≤.

<div class="alert alert-info"><b>–ó–∞–∫–∞–∑—á–∏–∫</b> ‚Äî –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –æ—Ç–¥–µ–ª –±–∞–Ω–∫–∞. <b>–°—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ - </b> —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è, –≤–ª–∏—è–µ—Ç –ª–∏ —Å–µ–º–µ–π–Ω–æ–µ –ø–æ–ª–æ–∂–µ–Ω–∏–µ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π –∫–ª–∏–µ–Ω—Ç–∞ –Ω–∞ —Ñ–∞–∫—Ç –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫. <b>–í—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ—Ç –±–∞–Ω–∫–∞</b> ‚Äî —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤.
<b>–†–µ–∑—É–ª—å—Ç–∞—Ç—ã –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è</b> –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –ø—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –º–æ–¥–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–Ω–æ–≥–æ —Å–∫–æ—Ä–∏–Ω–≥–∞ ‚Äî —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã, –∫–æ—Ç–æ—Ä–∞—è –æ—Ü–µ–Ω–∏–≤–∞–µ—Ç —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ–≥–æ –∑–∞—ë–º—â–∏–∫–∞ –≤–µ—Ä–Ω—É—Ç—å –∫—Ä–µ–¥–∏—Ç –±–∞–Ω–∫—É.</div>

### –®–∞–≥ 1. –û–±–∑–æ—Ä –¥–∞–Ω–Ω—ã—Ö

<div class="alert alert-info"><b>–û–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è</b> –æ —Ç–∞–±–ª–∏—Ü–µ –∏ –æ–±–∑–æ—Ä –ø–µ—Ä–≤—ã—Ö 5—Ç–∏ —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—ã</div>

In [3]:
import pandas as pd
data = pd.read_csv('data.csv')

print('–û–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è')
data.info()
print(65 * '= ')

print('–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞')
display(data.head())

–û–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
–ü–µ—Ä–≤—ã–µ 5 —Å—Ç—Ä–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875.639453,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,-4024.803754,36,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080.014102,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,-5623.422610,33,–°—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885.952297,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,-4124.747207,32,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628.550329,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616.077870,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

<div class="alert alert-info"> –ò–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ <b>–ø—Ä–æ–ø—É—Å–∫–∞—Ö –∏ –¥—É–±–ª–∏–∫–∞—Ç–∞—Ö </b></div>

In [4]:
print('–ò–Ω–æ—Ñ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö')
display(data.isna().sum())
print(60 * '= ')

print(f'–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {data.duplicated().sum()}')
print(60 * '= ')

–ò–Ω–æ—Ñ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 54
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

<div class="alert alert-info"> –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö <b></b></div>

In [5]:
display(data.describe(include='all'))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
count,21525.000000,19351.000000,21525.000000,21525,21525.000000,21525,21525.000000,21525,21525,21525.000000,1.935100e+04,21525
unique,NaN,NaN,NaN,15,NaN,5,NaN,3,8,NaN,NaN,38
top,NaN,NaN,NaN,—Å—Ä–µ–¥–Ω–µ–µ,NaN,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,NaN,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,NaN,NaN,—Å–≤–∞–¥—å–±–∞
freq,NaN,NaN,NaN,13750,NaN,12380,NaN,14236,11119,NaN,NaN,797
mean,0.538908,63046.497661,43.293380,NaN,0.817236,NaN,0.972544,NaN,NaN,0.080883,1.674223e+05,NaN
std,1.381587,140827.311974,12.574584,NaN,0.548138,NaN,1.420324,NaN,NaN,0.272661,1.029716e+05,NaN
min,-1.000000,-18388.949901,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN,0.000000,2.066726e+04,NaN
25%,0.000000,-2747.423625,33.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,0.000000,1.030532e+05,NaN
50%,0.000000,-1203.369529,42.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,0.000000,1.450179e+05,NaN
75%,1.000000,-291.095954,53.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,0.000000,2.034351e+05,NaN
max,20.000000,401755.400475,75.000000,NaN,4.000000,NaN,4.000000,NaN,NaN,1.000000,2.265604e+06,NaN

### –®–∞–≥ 2.1 –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤

<div class="alert alert-info"> –í —Å—Ç–æ–ª–±—Ü–∞—Ö <b>total_income –∏ days_employed</b> –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –∑–Ω–∞—á–µ–Ω–∏—è <b>NaN.</b>
    
    
–ó–Ω–∞—á–µ–Ω–∏—è <b>total_income</b> –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç —Ç–∞–º –≥–¥–µ –Ω–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ <b>days_employed</b></div>

In [6]:
display(data[data['total_income'].isna()].head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,M,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
26,0,NaN,41,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,NaN,–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
29,0,NaN,63,—Å—Ä–µ–¥–Ω–µ–µ,1,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
41,0,NaN,50,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,NaN,—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
55,0,NaN,54,—Å—Ä–µ–¥–Ω–µ–µ,1,–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,1,NaN,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É
65,0,NaN,21,—Å—Ä–µ–¥–Ω–µ–µ,1,–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º,4,M,–∫–æ–º–ø–∞–Ω—å–æ–Ω,0,NaN,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
67,0,NaN,52,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,NaN,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏
72,1,NaN,32,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π,0,NaN,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
82,2,NaN,50,–≤—ã—Å—à–µ–µ,0,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,NaN,–∂–∏–ª—å–µ
83,0,NaN,52,—Å—Ä–µ–¥–Ω–µ–µ,1,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,NaN,–∂–∏–ª—å–µ

<div class="alert alert-info"> –î–æ–ª—è –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö <b>total_income –∏ days_employed</b> </div>

In [7]:
print(data['total_income'].isna().mean())
print(data['days_employed'].isna().mean())

0.10099883855981417
0.10099883855981417

<div class="alert alert-info"> –ó–∞–ø–æ–ª–Ω–∏—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>total_income</b> –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º ‚Äî –ª—É—á—à–µ–µ —Ä–µ—à–µ–Ω–∏–µ, —Ç–∞–∫ –∫–∞–∫ –≤ –≤—ã–±–æ—Ä–∫–µ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç –±–æ–ª—å—à–æ–π —Ä–∞–∑–±—Ä–æ—Å –∑–Ω–∞—á–µ–Ω–∏–π. 
    
–ù–∏–∂–µ —ç—Ç–æ –≤–∏–¥–Ω–æ –ø–æ MIN –∏ MAX –∑–Ω–∞—á–µ–Ω–∏—è–º —Å—Ç–æ–ª–±—Ü–∞ <b>total_income</b></div>

In [8]:
min_total_income = int(data['total_income'].min())
max_total_income = int(data['total_income'].max())

print(f'–ú–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ total_income: {min_total_income}')
print(f'–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ total_income: {max_total_income}')

–ú–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ total_income: 20667
–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ total_income: 2265604

<div class="alert alert-info"> –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ <b>total_income –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É.</b>
    
–ü—Ä–æ–≤–µ—Ä–∏–º –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º–µ—Ç–æ–¥–æ–º <b>isna</b> </div>

In [9]:
median_total_income = data['total_income'].median()
display(median_total_income)
data['total_income'] = data['total_income'].fillna(median_total_income)

print('–ò–Ω–æ—Ñ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö')
data.isna().sum()

145017.93753253992

–ò–Ω–æ—Ñ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

### –®–∞–≥ 2.2. –ü—Ä–æ–≤–µ—Ä–∫–∞ –¥–∞–Ω–Ω—ã—Ö –Ω–∞ –∞–Ω–æ–º–∞–ª–∏–∏ –∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è

 <div class="alert alert-info"> –ò—â–µ–º –∑–Ω–∞—á–µ–Ω–∏—è —Å –∞–Ω–æ–º–∞–ª–∏—è–º–∏ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö <b>

In [10]:
display(data.describe(include='all'))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
count,21525.000000,19351.000000,21525.000000,21525,21525.000000,21525,21525.000000,21525,21525,21525.000000,2.152500e+04,21525
unique,NaN,NaN,NaN,15,NaN,5,NaN,3,8,NaN,NaN,38
top,NaN,NaN,NaN,—Å—Ä–µ–¥–Ω–µ–µ,NaN,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,NaN,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,NaN,NaN,—Å–≤–∞–¥—å–±–∞
freq,NaN,NaN,NaN,13750,NaN,12380,NaN,14236,11119,NaN,NaN,797
mean,0.538908,63046.497661,43.293380,NaN,0.817236,NaN,0.972544,NaN,NaN,0.080883,1.651595e+05,NaN
std,1.381587,140827.311974,12.574584,NaN,0.548138,NaN,1.420324,NaN,NaN,0.272661,9.786607e+04,NaN
min,-1.000000,-18388.949901,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN,0.000000,2.066726e+04,NaN
25%,0.000000,-2747.423625,33.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,0.000000,1.077982e+05,NaN
50%,0.000000,-1203.369529,42.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,0.000000,1.450179e+05,NaN
75%,1.000000,-291.095954,53.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,0.000000,1.955436e+05,NaN
max,20.000000,401755.400475,75.000000,NaN,4.000000,NaN,4.000000,NaN,NaN,1.000000,2.265604e+06,NaN

 üîπ<font color='blue'>  <b> –í—ã–≤–æ–¥—ã:</b>
    
    1. –ï—Å—Ç—å –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –º–∏–Ω—É—Å–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ children
    2. –ï—Å—Ç—å –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –º–∏–Ω—É—Å–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Å—Ç–æ–ª–±—Ü–µ days_employed
    3*. –í —Å—Ç–æ–ª–±—Ü–µ dob_years –µ—Å—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ "0" - –∫–æ—Ç–æ—Ä–æ–µ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —É 101 –∫–ª–∏–µ–Ω—Ç–∞. –≠—Ç–æ –∞–Ω–æ–º–∞–ª–∏—è –∏ –æ—à–∏–±–∫–∞.
    4. –í —Å—Ç–æ–ª–±—Ü–µ debt –≤—Å—ë —Ö–æ—Ä–æ—à–æ. –ö–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –æ—Ç 0 –¥–æ 1 —Ç–∏–ø–∞ float
    5. –°–æ —Å—Ç–æ–ª–±—Ü–æ–º total_income –≤—Å—ë —Ö–æ—Ä–æ—à–æ. –ö–æ—Ä—Ä–µ–∫—Ç–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Ç–∏–ø–∞ float
    6. –í —Å—Ç–æ–ª–±—Ü–µ children –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ - 20 –¥–µ—Ç–µ–π. –í–µ—Ä–æ—è—Ç–Ω–µ–µ –≤—Å–µ–≥–æ —ç—Ç–æ –æ—à–∏–±–∫–∞ –∏ —Ç—É—Ç –ª–∏—à–Ω–∏–π "0"
    7*. –í —Å—Ç–æ–ª–±—Ü–µ days_employed –µ—Å—Ç—å –∞–Ω–æ–º–∞–ª—å–Ω–æ –±–æ–ª—å—à–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è (max - 401755 –ø—Ä–∏ –º–µ–¥–∏–∞–Ω–µ - 2194).

<div class="alert alert-info"> –†–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø–æ–¥—Ä–æ–±–Ω–µ–µ —Å—Ç–æ–ª–±–µ—Ü<b> education_id. </b>
    
<b> –í—ã–≤–æ–¥:</b> –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ ID - —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b> education</b> </div>

In [11]:
data['education_id'].value_counts()

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

<div class="alert alert-info"> –†–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø–æ–¥—Ä–æ–±–Ω–µ–µ —Å—Ç–æ–ª–±–µ—Ü<b> family_status_id. </b>
    
<b> –í—ã–≤–æ–¥:</b> –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ ID - —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>family_status</b> </div>

In [12]:
data['family_status_id'].value_counts()

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64

<div class="alert alert-info"> –ü—Ä–æ–≤–µ—Ä–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ <b> children</b>. –ò –∑–∞–º–µ–Ω–∏–º –≤—Å–µ –∑–Ω–∞—á–µ–Ω–∏—è "20" –Ω–∞ "2"</div>

In [13]:
data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

In [14]:
data['children'] = data['children'].replace(20, 2)

In [15]:
data['children'].value_counts()

 0    14149
 1     4818
 2     2131
 3      330
-1       47
 4       41
 5        9
Name: children, dtype: int64

<div class="alert alert-info"> –û–±—Ä–∞–±–æ—Ç–∫–∞ –º–∏–Ω—É—Å–æ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ <b>days_employed –∏ children </b>. </div>

In [16]:
data['days_employed'] = abs(data['days_employed'])
data['children'] = abs(data['children'])

<div class="alert alert-info"> –ü—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ—Å–ª–µ –æ–±—Ä–∞–±–æ—Ç–∫–∏ –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö <b>days_employed –∏ children </b>. </div>

In [17]:
display(data.describe(include='all'))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
count,21525.000000,19351.000000,21525.000000,21525,21525.000000,21525,21525.000000,21525,21525,21525.000000,2.152500e+04,21525
unique,NaN,NaN,NaN,15,NaN,5,NaN,3,8,NaN,NaN,38
top,NaN,NaN,NaN,—Å—Ä–µ–¥–Ω–µ–µ,NaN,–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º,NaN,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,NaN,NaN,—Å–≤–∞–¥—å–±–∞
freq,NaN,NaN,NaN,13750,NaN,12380,NaN,14236,11119,NaN,NaN,797
mean,0.479721,66914.728907,43.293380,NaN,0.817236,NaN,0.972544,NaN,NaN,0.080883,1.651595e+05,NaN
std,0.755528,139030.880527,12.574584,NaN,0.548138,NaN,1.420324,NaN,NaN,0.272661,9.786607e+04,NaN
min,0.000000,24.141633,0.000000,NaN,0.000000,NaN,0.000000,NaN,NaN,0.000000,2.066726e+04,NaN
25%,0.000000,927.009265,33.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,0.000000,1.077982e+05,NaN
50%,0.000000,2194.220567,42.000000,NaN,1.000000,NaN,0.000000,NaN,NaN,0.000000,1.450179e+05,NaN
75%,1.000000,5537.882441,53.000000,NaN,1.000000,NaN,1.000000,NaN,NaN,0.000000,1.955436e+05,NaN
max,5.000000,401755.400475,75.000000,NaN,4.000000,NaN,4.000000,NaN,NaN,1.000000,2.265604e+06,NaN

<div class="alert alert-info"> –ó–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ <b>days_employed</b> –º–µ–¥–∏–∞–Ω–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ —Å—Ç–æ–ª–±—Ü—É.
    
 </div>

In [18]:
median_days_employed = data['days_employed'].median()
data['days_employed'] = data['days_employed'].fillna(median_days_employed)

<div class="alert alert-info"> 
    
–ü—Ä–æ–≤–µ—Ä–∏–º –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –º–µ—Ç–æ–¥–æ–º <b>isna</b> </div>

In [19]:
print('–ò–Ω–æ—Ñ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö')
data.isna().sum()

–ò–Ω–æ—Ñ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–æ–ø—É—Å–∫–∞—Ö

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

<div class="alert alert-info"> –í —Å—Ç–æ–ª–±—Ü–µ <b>dob_years</b> –µ—Å—Ç—å –∑–Ω–∞—á–µ–Ω–∏–µ "0" - –∫–æ—Ç–æ—Ä–æ–µ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è —É 101 –∫–ª–∏–µ–Ω—Ç–∞. –≠—Ç–æ –∞–Ω–æ–º–∞–ª–∏—è –∏ –æ—à–∏–±–∫–∞. –ú–æ–∂–Ω–æ –±—ã–ª–æ –±—ã –∑–∞–º–µ–Ω–∏—Ç—å –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –ø–æ —Å—Ç–æ–ª–±—Ü—É –∏–ª–∏ –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –ø–æ —Å—Ç–æ–ª–±—Ü—É —É—á–∏—Ç—ã–≤–∞—è –≥—Ä—É–ø–ø—ã  "income_type". –î–æ–±–∞–≤–∏–ª–∞ –≤ "–í—ã–≤–æ–¥—ã" –≤—ã—à–µ  </div>

In [20]:
data['dob_years'].value_counts()

35    617
40    609
41    607
34    603
38    598
42    597
33    581
39    573
31    560
36    555
44    547
29    545
30    540
48    538
37    537
50    514
43    513
32    510
49    508
28    503
45    497
27    493
56    487
52    484
47    480
54    479
46    475
58    461
57    460
53    459
51    448
59    444
55    443
26    408
60    377
25    357
61    355
62    352
63    269
64    265
24    264
23    254
65    194
66    183
22    183
67    167
21    111
0     101
68     99
69     85
70     65
71     58
20     51
72     33
19     14
73      8
74      6
75      1
Name: dob_years, dtype: int64

### –®–∞–≥ 2.3. –ò–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö.

<div class="alert alert-info"> –ó–∞–º–µ–Ω–∞ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö —Å float –Ω–∞ int –≤ —Å—Ç–æ–ª–±—Ü–µ <b>total_income</b> </div>

In [21]:
data['total_income'] = data['total_income'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int32
 11  purpose           21525 non-null  object
dtypes: float64(1), int32(1), int64(5), object(5)
memory usage: 1.9+ MB

### –®–∞–≥ 2.4. –£–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.

<div class="alert alert-info"> –ü–æ–∏—Å–∫ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>education</b> </div>

In [22]:
data['education'].unique()

array(['–≤—ã—Å—à–µ–µ', '—Å—Ä–µ–¥–Ω–µ–µ', '–°—Ä–µ–¥–Ω–µ–µ', '–°–†–ï–î–ù–ï–ï', '–í–´–°–®–ï–ï',
       '–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ', '–Ω–∞—á–∞–ª—å–Ω–æ–µ', '–í—ã—Å—à–µ–µ',
       '–ù–ï–û–ö–û–ù–ß–ï–ù–ù–û–ï –í–´–°–®–ï–ï', '–ù–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ', '–ù–ê–ß–ê–õ–¨–ù–û–ï',
       '–ù–∞—á–∞–ª—å–Ω–æ–µ', '–£—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å', '–£–ß–ï–ù–ê–Ø –°–¢–ï–ü–ï–ù–¨', '—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å'],
      dtype=object)

<div class="alert alert-info"> –û–±—Ä–∞–±–æ—Ç–∫–∞ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>education</b> –∏ –ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –∏—Ö –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ </div>

In [23]:
data['education'] = data['education'].str.lower()
data['education'].unique()

array(['–≤—ã—Å—à–µ–µ', '—Å—Ä–µ–¥–Ω–µ–µ', '–Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ', '–Ω–∞—á–∞–ª—å–Ω–æ–µ',
       '—É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å'], dtype=object)

<div class="alert alert-info"> –ü–æ–∏—Å–∫ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>family_status</b>. –î—É–±–ª–∏–∫–∞—Ç—ã –Ω–µ –Ω–∞–π–¥–µ–Ω—ã </div>

In [24]:
data['family_status'].unique()

array(['–∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º', '–≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫', '–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞',
       '–≤ —Ä–∞–∑–≤–æ–¥–µ', '–ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º'], dtype=object)

<div class="alert alert-info"> –ü–æ–∏—Å–∫ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>gender</b>. –î—É–±–ª–∏–∫–∞—Ç—ã –Ω–µ –Ω–∞–π–¥–µ–Ω—ã.  </div>

In [25]:
data['gender'].unique()
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

<div class="alert alert-block alert-info">
<b>–°–¥–µ–ª–∞–Ω–æ</b> ‚òëÔ∏è –ù–∞–π–¥–µ–Ω–æ –∞–Ω–æ–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ–ª–∞ - XNA —É 1 –∫–ª–∏–µ–Ω—Ç–∞. –í–æ–∑–º–æ–∂–Ω–æ —ç—Ç–æ –Ω–µ –æ—à–∏–±–∫–∞, –∞ –Ω–µ–∂–µ–ª–∞–Ω–∏–µ —á–µ–ª–æ–≤–µ–∫–∞ —É–∫–∞–∑—ã–≤–∞—Ç—å —Å–≤–æ–π –ø–æ–ª :)

</div>

<div class="alert alert-info"> –ü–æ–∏—Å–∫ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>income_type</b>. –î—É–±–ª–∏–∫–∞—Ç—ã –Ω–µ –Ω–∞–π–¥–µ–Ω—ã </div>

In [26]:
data['income_type'].unique()

array(['—Å–æ—Ç—Ä—É–¥–Ω–∏–∫', '–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä', '–∫–æ–º–ø–∞–Ω—å–æ–Ω', '–≥–æ—Å—Å–ª—É–∂–∞—â–∏–π',
       '–±–µ–∑—Ä–∞–±–æ—Ç–Ω—ã–π', '–ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å', '—Å—Ç—É–¥–µ–Ω—Ç', '–≤ –¥–µ–∫—Ä–µ—Ç–µ'],
      dtype=object)

<div class="alert alert-info"> –ü–æ–∏—Å–∫ –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Å—Ç–æ–ª–±—Ü–µ <b>purpose</b>. –î—É–±–ª–∏–∫–∞—Ç—ã –Ω–∞–π–¥–µ–Ω—ã. –í –∑–∞–¥–∞–Ω–∏–∏ 2.7 - –±—É–¥—É—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∏—Ä–æ–≤–∞–Ω—ã </div>

In [27]:
data['purpose'].unique()

array(['–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è', '–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
       '–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º', '–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã',
       '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏', '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
       '–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
       '–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–∂–∏–ª—å–µ',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–∞–≤—Ç–æ–º–æ–±–∏–ª–∏',
       '–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º', '—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
       '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '—Å–≤–∞–¥—å–±–∞',
       '–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', '–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',
       '—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å', '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
       '–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',
       '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏', '–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è', '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é',
       '–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º'], dtype=object)

üîπ<font color='blue'>  –î–ª—è –ø–æ–∏—Å–∫–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ —è –≤—ã–±—Ä–∞–ª–∞ –º–µ—Ç–æ–¥ <b>unique()</b>, —Ç–∞–∫ –∫–∞–∫ –Ω–∞ –º–æ–π –≤–∑–≥–ª—è–¥ –æ–Ω –ø—Ä–µ–∫—Ä–∞—Å–Ω–æ –ø–æ–¥—Ö–æ–¥–∏—Ç –¥–ª—è –ø–æ–∏—Å–∫–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–π–Ω—ã—Ö –Ω–µ—è–≤–Ω—è—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤. 
    
üîπ<font color='blue'>  –î–ª—è —É–¥–∞–ª–µ–Ω–∏—è —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–ª—Å—è –º–µ—Ç–æ–¥ <b>drop_duplicates()</b>. 
    
üîπ<font color='blue'>  <b>–ü—Ä–∏—á–∏–Ω—ã –≤–æ–∑–Ω–∏–∫–Ω–æ–≤–µ–Ω–∏—è —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤</b> - –æ—à–∏–±–∫–∞ –∏–ª–∏ –ø–æ–≤—Ç–æ—Ä–Ω—ã–π –∫—Ä–µ–¥–∏—Ç. 
    
üîπ<font color='blue'>  <b>–ù–µ—è–≤–Ω—ã—Ö</b> - –æ—à–∏–±–∫–∏ –≤ –Ω–∞–ø–∏—Å–∞–Ω–∏–∏ –æ–¥–Ω–æ–≥–æ –∏ —Ç–æ–≥–æ –∂–µ —Å–ª–æ–≤–∞, —Ä–∞–∑–Ω—ã–π —Ä–µ–≥–∏—Å—Ç—Ä.

<div class="alert alert-info"> –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ —è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã. <b> –ü–æ—Å–ª–µ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏—è –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤</b> </div>

In [28]:
print(f'–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {data.duplicated().sum()}')
print(60 * '= ')

–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 71
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

<div class="alert alert-info"> –£–¥–∞–ª–µ–Ω–∏–µ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –∏–∑ –¥–∞–Ω–Ω—ã—Ö </b> </div>

In [29]:
data = data.drop_duplicates().reset_index(drop=True)

<div class="alert alert-info"> –ü—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞ –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–æ—Ç–æ–≤ </div>

In [30]:
print(f'–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: {data.duplicated().sum()}')

–ü–æ–ª–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤: 0

### –®–∞–≥ 2.5. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ —Å–ª–æ–≤–∞—Ä–µ–π, –¥–µ–∫–æ–º–ø–æ–∑–∏—Ü–∏—è –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞.

<div class="alert alert-info">–§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–ª–æ–≤–∞—Ä—è –¥–ª—è <b>education</b> </div>

In [31]:
educ_dict = data[['education','education_id']]
educ_dict = educ_dict.drop_duplicates().reset_index(drop=True)
display(educ_dict)

             education  education_id
0               –≤—ã—Å—à–µ–µ             0
1              —Å—Ä–µ–¥–Ω–µ–µ             1
2  –Ω–µ–æ–∫–æ–Ω—á–µ–Ω–Ω–æ–µ –≤—ã—Å—à–µ–µ             2
3            –Ω–∞—á–∞–ª—å–Ω–æ–µ             3
4       —É—á–µ–Ω–∞—è —Å—Ç–µ–ø–µ–Ω—å             4

<div class="alert alert-info">–§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–ª–æ–≤–∞—Ä—è –¥–ª—è <b>family_status</b> </div>

In [32]:
famil_dict = data[['family_status','family_status_id']]
famil_dict = famil_dict.drop_duplicates().reset_index(drop=True)
display(famil_dict)

           family_status  family_status_id
0        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
1       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
2         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞                 2
3              –≤ —Ä–∞–∑–≤–æ–¥–µ                 3
4  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º                 4

<div class="alert alert-info">–£–¥–∞–ª–µ–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤ <b>education –∏ family_status</b> –∏–∑ –∏—Å—Ö–æ–¥–Ω–æ–≥–æ –î–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ </div>

In [33]:
data = data.drop(columns = ['education', 'family_status'], axis = 1) 
display(data.head())

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
1,1,4024.803754,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è
2,0,5623.422610,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è
3,3,4124.747207,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ
4,0,340266.072047,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É

### –®–∞–≥ 2.6. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–æ—Ö–æ–¥–∞.

<div class="alert alert-info">–°–æ–∑–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é <b>income_category</b> –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç—ã–≤–∞—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏—é —É—á–∏—Ç—ã–≤–∞—è –∑–Ω–∞—á–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ <b>total_income</b> </div>

In [34]:
def income_category(income):
    if income < 30001:
        return 'E'
    if income < 50001:
        return 'D'
    if income < 200001:
        return 'C'
    if income < 1000001:
        return 'B'
    else:
        return 'A'

<div class="alert alert-info">–°–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü <b>total_income_category</b> –∏ –∑–∞–ø–æ–ª–Ω—è–µ–º –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ –∏–∑ —Ñ—É–Ω–∫—Ü–∏–∏</b> </div>

In [35]:
data['total_income_category'] = data['total_income'].apply(income_category)

<div class="alert alert-info"> –ü—Ä–æ–≤–µ—Ä—è–µ–º, –∫–∞–∫ –∏–∑–º–µ–Ω–∏–ª–∞—Å—å —Ç–∞–±–ª–∏—Ü–∞ –∏ –≤—Å–µ –ª–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤ –Ω–µ–µ –ø–æ–ø–∞–ª–∏.</div>

In [36]:
display(data.head()) 
data['total_income_category'].unique()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B
1,1,4024.803754,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,C
2,0,5623.422610,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,C
3,3,4124.747207,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,B
4,0,340266.072047,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,C

array(['B', 'C', 'D', 'E', 'A'], dtype=object)

### –®–∞–≥ 2.7. –ö–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞.

<div class="alert alert-info">–°–æ–∑–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é <b>name_purpose</b>, –∫–æ—Ç–æ—Ä–∞—è –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö –∏–∑ —Å—Ç–æ–ª–±—Ü–∞ <b>purpose </b>—Å—Ñ–æ—Ä–º–∏—Ä—É–µ—Ç –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü <b>purpose_category</b>, –≤ –∫–æ—Ç–æ—Ä—ã–π –≤–æ–π–¥—É—Ç —Å–ª–µ–¥—É—é—â–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏:
<b>'–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',</b>
<b>'–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',</b>
<b>'–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã',</b>
<b>'–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'. </b> </div>

In [37]:
incorrect_property = ['–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è','–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∂–∏–ª—å–µ–º','–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–µ–º—å–∏',
       '–ø–æ–∫—É–ø–∫–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏','–ø–æ–∫—É–ø–∫–∞ –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ —Å–æ–±—Å—Ç–≤–µ–Ω–Ω–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏','–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–æ–º–º–µ—Ä—á–µ—Å–∫–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é',
       '—Å—Ç—Ä–æ–∏—Ç–µ–ª—å—Å—Ç–≤–æ –∂–∏–ª–æ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏', '–∂–∏–ª—å–µ',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å–æ —Å–≤–æ–µ–π –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é','–ø–æ–∫—É–ø–∫–∞ —Å–≤–æ–µ–≥–æ –∂–∏–ª—å—è',
       '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è –¥–ª—è —Å–¥–∞—á–∏', '—Ä–µ–º–æ–Ω—Ç –∂–∏–ª—å—é']

incorrect_car = ['–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è', '–Ω–∞ –ø–æ–∫—É–ø–∫—É –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω–æ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è',
                 '–Ω–∞ –ø–æ–∫—É–ø–∫—É —Å–≤–æ–µ–≥–æ –∞–≤—Ç–æ–º–æ–±–∏–ª—è','–∞–≤—Ç–æ–º–æ–±–∏–ª–∏', '–∞–≤—Ç–æ–º–æ–±–∏–ª—å', '—Å–≤–æ–π –∞–≤—Ç–æ–º–æ–±–∏–ª—å', 
                 '—Å–¥–µ–ª–∫–∞ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º', '—Å–¥–µ–ª–∫–∞ —Å –ø–æ–¥–µ—Ä–∂–∞–Ω–Ω—ã–º –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º', '–Ω–∞ –ø–æ–∫—É–ø–∫—É –∞–≤—Ç–æ–º–æ–±–∏–ª—è' ]

incorrect_education = ['–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ','–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ',  '–∑–∞–Ω—è—Ç—å—Å—è –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º',
                       '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è',  '–ø–æ–ª—É—á–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', 
                       '–ø–æ–ª—É—á–µ–Ω–∏–µ –≤—ã—Å—à–µ–≥–æ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', '–ø—Ä–æ—Ñ–∏–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', '–≤—ã—Å—à–µ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ', 
                      '–∑–∞–Ω—è—Ç—å—Å—è –≤—ã—Å—à–∏–º –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ–º']

incorrect_wedding = ['—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É', '–Ω–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã', '—Å–≤–∞–¥—å–±–∞']


def name_purpose(purpose):
    try:
        if purpose in incorrect_property:
            return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é'
        if purpose in incorrect_car:
            return '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º'
        if purpose in incorrect_education:
            return '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è'
        if purpose in incorrect_wedding:
            return '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'
    except:
        return '–¥—Ä—É–≥–æ–µ'
    
data['purpose_category'] = data['purpose'].apply(name_purpose)

<div class="alert alert-info"> –ü—Ä–æ–≤–µ—Ä—è–µ–º, –∫–∞–∫ –∏–∑–º–µ–Ω–∏–ª–∞—Å—å —Ç–∞–±–ª–∏—Ü–∞ –∏ –≤—Å–µ –ª–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤ –Ω–µ–µ –ø–æ–ø–∞–ª–∏.</div>

In [38]:
display(data.head())
data['purpose_category'].unique()

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,0,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,253875,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,B,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
1,1,4024.803754,36,1,0,F,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,112080,–ø—Ä–∏–æ–±—Ä–µ—Ç–µ–Ω–∏–µ –∞–≤—Ç–æ–º–æ–±–∏–ª—è,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º
2,0,5623.422610,33,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,145885,–ø–æ–∫—É–ø–∫–∞ –∂–∏–ª—å—è,C,–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é
3,3,4124.747207,32,1,0,M,—Å–æ—Ç—Ä—É–¥–Ω–∏–∫,0,267628,–¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–µ,B,–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è
4,0,340266.072047,53,1,1,F,–ø–µ–Ω—Å–∏–æ–Ω–µ—Ä,0,158616,—Å—ã–≥—Ä–∞—Ç—å —Å–≤–∞–¥—å–±—É,C,–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã

array(['–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é', '–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º',
       '–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è', '–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã'], dtype=object)

### –û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã.

##### –í–æ–ø—Ä–æ—Å 1:–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [39]:
data_pivot_children = data.pivot_table(index='children', columns='debt', values = 'total_income', aggfunc ='count')
data_pivot_children['pivot_0'] = data_pivot_children[1]/data_pivot_children[0]*100

print('pivot_0 - % –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º—Å–æ—Ç–∏ –æ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π')
display(data_pivot_children)

pivot_0 - % –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º—Å–æ—Ç–∏ –æ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π

debt            0       1    pivot_0
children
0         13028.0  1063.0   8.159349
1          4410.0   445.0  10.090703
2          1926.0   202.0  10.488058
3           303.0    27.0   8.910891
4            37.0     4.0  10.810811
5             9.0     NaN        NaN

##### –í—ã–≤–æ–¥ 1:  –ü–æ –∏—Ç–æ–≥–∞–º —Ä–∞—Å—Å—á–µ—Ç–æ–≤ –≤—ã—è–ª–µ–Ω–∞ –º–∏–Ω–∏–º–∞–ª—å–Ω–∞—è –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –¥–µ—Ç–µ–π –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ .  –£ 8,1 %  –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–µ–∑ –¥–µ—Ç–µ–π –µ—Å—Ç—å –∑–∞–¥–æ–ª–¥–µ–Ω–Ω–æ—Å—Ç—å –ø–æ –∫—Ä–µ–¥–∏—Ç—É. –£ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –¥–µ—Ç—å–º–∏ —ç—Ç–æ—Ç % –Ω–µ–º–Ω–æ–≥–æ –≤—ã—à–µ -  –æ—Ç 8,9 –¥–æ 10,8. –ì—Ä—É–ø–ø—É —Å 5-—é –¥–µ—Ç—å–º–∏ –Ω–µ–ª—å–∑—è —É—á–∏—Ç—ã–≤–∞—Ç—å –≤ —Ä–∞—Å—á–µ—Ç–∞—Ö, —Ç–∞–∫ –∫–∞–∫ –æ—á–µ–Ω—å –º–∞–ª–µ–Ω—å–∫–∞—è –≤—ã–±–æ—Ä–∫–∞.

##### –í–æ–ø—Ä–æ—Å 2: –ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —Å–µ–º–µ–π–Ω—ã–º –ø–æ–ª–æ–∂–µ–Ω–∏–µ–º –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [40]:
data_pivot_family = data.pivot_table(index=['family_status_id'], values='debt', aggfunc='sum')

family = data['family_status_id'].value_counts()
debt_family = data.groupby('family_status_id')['debt'].sum()
convers_debt_family = debt_family / family * 100

print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞')
display(family)
print(60*'= ')
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞')
display(data_pivot_family)
print(60*'= ')
print('% –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º—Å–æ—Ç–∏ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞')
display(convers_debt_family)
print(60*'= ')
print('–†–∞—Å—à–∏—Ñ—Ä–æ–≤–∫–∞')
display(famil_dict)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞

0    12339
1     4151
4     2810
3     1195
2      959
Name: family_status_id, dtype: int64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞

                  debt
family_status_id
0                  931
1                  388
2                   63
3                   85
4                  274

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
% –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º—Å–æ—Ç–∏ –æ—Ç —Å–µ–º–µ–π–Ω–æ–≥–æ —Å—Ç–∞—Ç—É—Å–∞

0    7.545182
1    9.347145
2    6.569343
3    7.112971
4    9.750890
dtype: float64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
–†–∞—Å—à–∏—Ñ—Ä–æ–≤–∫–∞

           family_status  family_status_id
0        –∂–µ–Ω–∞—Ç / –∑–∞–º—É–∂–µ–º                 0
1       –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–π –±—Ä–∞–∫                 1
2         –≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞                 2
3              –≤ —Ä–∞–∑–≤–æ–¥–µ                 3
4  –ù–µ –∂–µ–Ω–∞—Ç / –Ω–µ –∑–∞–º—É–∂–µ–º                 4

##### –í—ã–≤–æ–¥ 2: –†–µ–∂–µ –≤—Å–µ–≥–æ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å –æ–±—Ä–∞–∑—É–µ—Ç—Å—è —É –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ "–≤–¥–æ–≤–µ—Ü / –≤–¥–æ–≤–∞" (6,5%).  –¢–µ –∫—Ç–æ –∂–µ–Ω–∞—Ç, –ª–∏–±–æ —É–∂–µ –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ —Ä–∞–∑–≤–æ–¥–µ –æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –≤ –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ –≤ 7% —Å–ª—É—á–∞–µ–≤. –ß–∞—â–µ –≤—Å–µ–≥–æ –ø—Ä–æ—Å—Ä–æ—á–∫–∞ –∫—Ä–µ–¥–∏—Ç–∞ –≤–æ–∑–Ω–∏–∫–∞–µ—Ç —É —Ç–µ—Ö –∫—Ç–æ –Ω–µ –±—ã–ª –∂–µ–Ω–∞—Ç, –ª–∏–±–æ –∂–∏–≤–µ—Ç –≥—Ä–∞–∂–¥–∞–Ω—Å–∫–∏–º –±—Ä–∞–∫–æ–º(–æ–∫–æ–ª–æ 9,5%). –£ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ "–≤–¥–æ–≤–µ—Ü" –∏ "–≤ —Ä–∞–∑–≤–æ–¥–µ" - –º–∞–ª–µ–Ω—å–∫–∞—è –≤—ã–±–æ—Ä–∫–∞. –í –∏—Ç–æ–≥–æ–≤—ã—Ö –≤—ã–≤–æ–¥–∞—Ö —ç—Ç–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ —É—á–∏—Ç—ã–≤–∞—Ç—å—Å—è –Ω–µ –±—É–¥—É—Ç.

##### –í–æ–ø—Ä–æ—Å 3 :–ï—Å—Ç—å –ª–∏ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –≤–æ–∑–≤—Ä–∞—Ç–æ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫?

In [41]:
data_pivot_income = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='sum')

income = data['total_income_category'].value_counts()
debt_income = data.groupby('total_income_category')['debt'].sum()
convers_debt_income = debt_income / income * 100

print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞')
display(income)
print(60*'= ')
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞')
display(data_pivot_income)
print(60*'= ')
print('% –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞')
display(convers_debt_income)
print(60*'= ')

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞

C    16016
B     5041
D      350
A       25
E       22
Name: total_income_category, dtype: int64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞

                       debt
total_income_category
A                         2
B                       356
C                      1360
D                        21
E                         2

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
% –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞

A    8.000000
B    7.062091
C    8.491508
D    6.000000
E    9.090909
dtype: float64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

##### –í—ã–≤–æ–¥ 3:  –¢–æ–ª—å–∫–æ —É 6 % –∫–ª–∏–µ–Ω—Ç–æ–≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ D (–¥–æ—Ö–æ–¥ 30001‚Äì50000) –µ—Å—Ç—å –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å. –£ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ B(–¥–æ—Ö–æ–¥ 200001‚Äì1000000) –∏ –°(–¥–æ—Ö–æ–¥ 50001‚Äì200000) –æ–Ω –≤—ã—à–µ - 7 –∏ 8,5% —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ.  –ö–ª–∏–µ–Ω—Ç–æ–≤ –∫–∞—Ç–µ–≥–æ—Ä–∏–π A –∏ E - –Ω–µ —Å—Ç–æ–∏—Ç —É—á–∏—Ç—ã–≤–∞—Ç—å –≤ –∞–Ω–∞–ª–∏–∑–µ –∏–∑-–∑–∞ –º–∞–ª–µ–Ω—å–∫–æ–π –≤—ã–±–æ—Ä–∫–∏. –ü—Ä—è–º–æ–π –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –ø–æ–≥–∞—à–µ–Ω–∏–µ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ –Ω–µ –≤—ã—è–ª–µ–Ω–æ.

##### –í–æ–ø—Ä–æ—Å 4 :–ö–∞–∫ —Ä–∞–∑–Ω—ã–µ —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞ –≤–ª–∏—è—é—Ç –Ω–∞ –µ–≥–æ –≤–æ–∑–≤—Ä–∞—Ç –≤ —Å—Ä–æ–∫?

In [42]:
data_pivot_purpose = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='sum')

purpose = data['purpose_category'].value_counts()
debt_purpose = data.groupby('purpose_category')['debt'].sum()
convers_debt_purpose = debt_purpose / purpose * 100

print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞')
display(purpose)
print(60*'= ')
print('–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞')
display(data_pivot_purpose)
print(60*'= ')
print('% –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞')
display(convers_debt_purpose)
print(60*'= ')

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞

–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é    10811
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º       4306
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è        4013
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã           2324
Name: purpose_category, dtype: int64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞

                          debt
purpose_category
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º     403
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é   782
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è      370
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã         186

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
% –∫–ª–∏–µ–Ω—Ç–æ–≤ c –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å—é –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ü–µ–ª–∏ –∫—Ä–µ–¥–∏—Ç–∞

–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º      9.359034
–æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é    7.233373
–ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è       9.220035
–ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã          8.003442
dtype: float64

= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

##### –í—ã–≤–æ–¥ 4: –£ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∫—Ä–µ–¥–∏—Ç–∞–º–∏ –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º  –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è, —á–∞—â–µ –æ–±—Ä–∞–∑—É—é—Ç—Å—è –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏ (–≤ —Å—Ä–µ–¥–Ω–µ–º —É 9%–∫–ª–∏–µ–Ω—Ç–æ–≤), —á–µ–º —É —Ç–µ—Ö, –∫—Ç–æ –±–µ—Ä–µ—Ç –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é  –∏ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã(–≤ —Å—Ä–µ–¥–Ω–µ–º —É 7,5 % –∫–ª–∏–µ–Ω—Ç–æ–≤).

## –û–±—â–∏–π –≤—ã–≤–æ–¥:

- –í –ø—Ä–æ—Ü–µ—Å—Å–µ –∞–Ω–∞–ª–∏–∑–∞ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏ –æ –ø–ª–∞—Ç—ë–∂–µ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç–∏ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –¥–∞–Ω–Ω—ã—Ö –∫–ª–∏–µ–Ω—Ç–æ–≤ –æ–± —Ç—Ä—É–¥–æ–≤–æ–º —Å—Ç–∞–∂–µ –∏ –¥–æ—Ö–æ–¥–µ(–ø—Ä–æ–ø—É—Å–∫–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã —É 11% –∫–ª–∏–µ–Ω—Ç–æ–≤). –ü—Ä–æ–ø—É—Å–∫–∏ –±—ã–ª–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω—ã –º–µ–¥–∏–∞–Ω–Ω—ã–º–∏ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ —Ç—Ä—É–¥–æ–≤–æ–≥–æ —Å—Ç–∞–∂–∞ –∏ –¥–æ—Ö–æ–¥–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤.

- –¢–∞–∫ –∂–µ –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ –∞–Ω–∞–ª–∏–∑–∞ –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –∞–Ω–∞–º–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ —Ç–∞–∫–∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª—è—Ö –∫–∞–∫ : –≤–æ–∑—Ä–∞—Å—Ç –∫–ª–∏–µ–Ω—Ç–∞(–±–æ–ª–µ–µ —á–µ–º —É 100 –∫–ª–∏–µ–Ω—Ç–æ–≤ –æ–Ω —Ä–∞–≤–µ–Ω 0), —Ç—Ä—É–¥–æ–≤–æ–π —Å—Ç–∞–∂(–º–∏–Ω—É—Å–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏ –∞–Ω–æ–º–∞–ª—å–Ω–æ –±–æ–ª—å—à–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è) –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–µ—Ç–µ–π(–º–∏–Ω—É—Å–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –∏ –∞–Ω–æ–º–∞–ª—å–Ω–æ –±–æ–ª—å—à–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è) –∏ –ø–æ–ª –∫–ª–∏–µ–Ω—Ç–∞(—É 1 –∫–ª–∏–µ–Ω—Ç–∞ –æ–Ω –Ω–µ–æ–ø—Ä–µ–¥–µ–ª–µ–Ω). –í –ø—Ä–æ—Ü–µ—Å—Å–µ –ø—Ä–µ–¥–æ–±—Ä–æ–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –∞–Ω–æ–º–∞–ª–∏–π –±—ã–ª–æ —É—Å—Ç—Ä–∞–Ω–µ–Ω–æ.

- –¢–∞–∫ –∂–µ –±—ã–ª–∏ –æ–±–Ω–∞—Ä—É–∂–µ–Ω—ã –Ω–µ—è–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã –≤ –¥–∞–Ω–Ω—ã—Ö –æ–± –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–∏ –∫–ª–∏–µ–Ω—Ç–∞. –î–∞–Ω–Ω—ã–µ –ø—Ä–∏–≤–µ–¥–µ–Ω—ã –∫ –æ–±—â–µ–º—É –≤–∏–¥—É.

- –ü–æ—Å–ª–µ —É—Å—Ç—Ä–∞–Ω–µ–Ω–∏—è –Ω–µ—è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ - –±—ã–ª–æ –Ω–∞–π–¥–µ–Ω–æ 71 —Å—Ç–æ–∫–∞ —è–≤–Ω—ã—Ö –¥—É–±–ª–∏–∫–∞—Ç–æ–≤. –Ø–≤–Ω—ã–µ –¥—É–±–ª–∏–∫–∞—Ç—ã —É–¥–∞–ª–µ–Ω—ã.

- –ú–Ω–æ–π –±—ã–ª–∞ –ø—Ä–æ–≤–µ–¥–µ–Ω–∞ –∫–∞—Ç–µ–≥–æ—Ä–∏–∑–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö –≤ –∑–∞–≤–∏—Å–∏–º–æ—Ç–∏ –æ—Ç —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞ –∏ –¥–æ—Ö–æ–¥–æ–≤ –∫–ª–∏–µ–Ω—Ç–∞, –¥–ª—è —É–ø—Ä–æ—â–µ–Ω–∏—è —Ä–∞–±–æ—Ç—ã —Å —Ç–∞–±–ª–∏—Ü–µ–π.

–ö–∞—Ç–µ–≥–æ—Ä–∏–∏ —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞: –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º, –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é, –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è, –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã.

–ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –¥–æ—Ö–æ–¥–∞ –∫–ª–∏–µ–Ω—Ç–æ–≤: A,B,C,D,E, –≥–¥–µ A - –∫–ª–∏–µ–Ω—Ç—ã —Å —Å–∞–º—ã–º –≤—ã—Å–æ–∫–∏–º –¥–æ—Ö–æ–¥–æ–º, –∞ E - c —Å–∞–º—ã–º –Ω–∏–∑–∫–∏–º

<b>–í—ã–≤–æ–¥—ã –ø–æ –∞–Ω–∞–ª–∏–∑—É –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –ø–æ–≥–∞—à–µ–Ω–∏—è –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ –æ—Ç : –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–µ—Ç–µ–π, –¥–æ—Ö–æ–¥–∞, —Å–µ–º–µ–π–Ω–æ–≥–æ –ø–æ–ª–æ–∂–µ–Ω–∏—è –∏ —Ü–µ–ª–µ–π –∫—Ä–µ–¥–∏—Ç–∞:</b>
1. –£ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±–µ–∑ –¥–µ—Ç–µ–π —Ä–µ–∂–µ –≤–æ–∑–Ω–∏–∫–∞–µ—Ç –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å. (8.1% –ø—Ä–æ—Ç–∏–≤ 8,9-10,8% —É –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –¥–µ—Ç—å–º–∏)
2. –ö–ª–∏–µ–Ω—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –∂–µ–Ω–∞—Ç—ã/–∑–∞–º—É–∂–µ–º - —Ä–µ–∂–µ –∏–º–µ—é—Ç –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç—å, –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å –Ω–µ–∂–µ–Ω–∞—Ç—ã–º–∏/–Ω–µ–∑–∞–º—É–∂–Ω–∏–º–∏ (7% –ø—Ä–æ—Ç–∏–≤ 9%)
3. –ü—Ä—è–º–æ–π –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º –¥–æ—Ö–æ–¥–∞ –∏ –ø–æ–≥–∞—à–µ–Ω–∏–µ–º –∫—Ä–µ–¥–∏—Ç–∞ –≤ —Å—Ä–æ–∫ –Ω–µ –≤—ã—è–ª–µ–Ω–æ.
4. –£ –∫–ª–∏–µ–Ω—Ç–æ–≤ —Å –∫—Ä–µ–¥–∏—Ç–∞–º–∏ –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∞–≤—Ç–æ–º–æ–±–∏–ª–µ–º –∏ –ø–æ–ª—É—á–µ–Ω–∏–µ –æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏—è, —á–∞—â–µ –æ–±—Ä–∞–∑—É—é—Ç—Å—è –∑–∞–¥–æ–ª–∂–µ–Ω–Ω–æ—Å—Ç–∏, —á–µ–º —É —Ç–µ—Ö, –∫—Ç–æ –±–µ—Ä–µ—Ç –∫—Ä–µ–¥–∏—Ç –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å—é –∏ –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —Å–≤–∞–¥—å–±—ã(9% –ø—Ä–æ—Ç–∏–≤ 7,5 %).